<main>
    <h3>Dashboard</h3>
    <div class="grid grid-cols-2 gap-5">

        <app-card [queryParams]="{time: '123'}" [routerLink]="['/timer']" [type]="CardTypeEnum.LINK"
                  imageSrc="images/btn.png"
                  title="Timer 1">
        </app-card>
        <app-card [queryParams]="{time: '123'}" [routerLink]="['/timer']" [type]="CardTypeEnum.LINK"
                  title="Timer 2">
        </app-card>
        <app-card [queryParams]="{time: '123'}" [routerLink]="['/timer']" [type]="CardTypeEnum.LINK"
                  title="Timer 3">
        </app-card>
    </div>
</main>